/*HEADER*/
li, .enlinea{
	display: inline;
}
header a:hover{
	color: #CE265B;
}
.bround{
	border-radius: 20%;
}
/*SECTION*/
#loadmore{
	margin-left: 50%;
}
#twitterimg{
	display: block;
	margin: auto;
	width: 50%;
}
/*FOOTER*/
.linebottom{
	border-bottom: 1px solid #AEACB6;
}
.linebottomslash{
	border-bottom: 1px dashed #AEACB6;
}
input{
	background-color: #1D1A20;
}
#iconcircle a{
	border: 1px dashed #4C4853;
	padding: 3%;
	border-radius: 50%;
}
#iconcircle{
	margin-right: 7%;
}